<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>

    <!-- Bring in our bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="materia_bootstamp.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="jumbotron text-center" style="background-color: lightcoral; padding: 75px!important">
        <div class="container">
            <h1>Mission to Mars</h1>
            <h3>
                <div>
                    <a href="/scrape" class="btn btn-primary">Scrape New Mars Data!</a>
                </div>
            </h3>
        </div>
    </div>
    </br>
    <div class="container">
        <div class="row">
            <div>
                <h1>Latest Mars News</h1>
                <h4>{{ mars.NASA_title }}</h4>
                <p>{{ mars.NASA_par}}</p>
            </div>
        </div>
        </br>
        <div class="row">

            <div class="col-md-8 col-sm-12">
                <div class="card">
                    <h1 class="card-header">Featured Mars Image</h1>
                    <img class="card-body" src="{{ mars.featured_image }}" />
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <h1>Mars Facts</h1>
                    {% autoescape false %}
                    {{ mars.mars_table}}
                    {% endautoescape %}
            </div>
        </div>
        </br>
        <div class="row">
                <h1 style="text-align: center;"> Mars Hemispheres</h1>
                {% set count = namespace(value=0) %}
                {% for doc in mars.hem_data %}
                <div class="col-md-3 col-sm-6 card-body">
                    <img style="width:100%" src=" {{ mars.hem_data[count.value]['img_url'] }}" />
                    <h5> {{ mars.hem_data[count.value]['title'] }} </h5>
                </div>
                {% set count.value = count.value + 1 %}
                {% endfor %}
        </div>
    </div>
</body>

</html>